# Default owners
* @AbstergoSweden

# Protocol definitions
*.yaml @AbstergoSweden
*.json @AbstergoSweden

# Validation scripts
*.py @AbstergoSweden
*.js @AbstergoSweden
*.sh @AbstergoSweden

# Documentation
*.md @AbstergoSweden
