name: Publish

on:
  workflow_dispatch:
  release:
    types: [published]

permissions:
  contents: read
  id-token: write
  packages: write

jobs:
  npm-pack:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4
      - name: Use Node.js
        uses: actions/setup-node@v4
        with:
          node-version: "20"
          registry-url: "https://registry.npmjs.org"
          cache: "npm"
      - name: Install dependencies
        run: npm ci
      - name: Lint & Test
        run: |
          npm test
      - name: Build package tarball
        run: npm pack
      - name: Upload artifact
        uses: actions/upload-artifact@v4
        with:
          name: npm-package
          path: "*.tgz"
